.container {
    background-color: #005617;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  body {
    background-color: #005d09;
    color: white; 
    font-family: sans-serif;
  }

  .generate-button {
    color: green;
  }
  

  label {
    font-weight: bold;
    margin-right: 10px;
  }
  
  input[type="text"] {
    margin-bottom: 10px;
    padding: 5px;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    background-color: #4CAF50;
    border: none;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  p {
    margin-top: 10px;
    font-weight: bold;
  }